body{

font-family: Arial;
text-align:center;
background:#f2f2f2;

}

.painel{

background:white;
padding:20px;
width:300px;
margin:auto;
margin-bottom:30px;
border-radius:10px;

}

.painel input{

width:100%;
margin-bottom:10px;
padding:5px;

}

button {
    font-size: 18px;
    margin: 30px;
}

.painel textarea{
width:100%;
margin-bottom:10px;
padding:5px;
height:60px;
resize:none;
}

.cartaz{

width:800px;
height:1100px;

margin:auto;

background-image:url("fundo.png");
background-size:cover;

position:relative;

}

/* PRODUTO */

.produto{

position:absolute;

top:330px;

width:100%;

font-size:60px;
font-weight:bold;

}

/* DESCRIÇÃO */

.descricao{

position:absolute;

top:420px;

width:100%;

font-size:35px;

}

/* PREÇO */

.preco{

position:absolute;

top:520px;

width:100%;

font-size:120px;
font-weight:bold;
color:red;

}

/* UNIDADE */

.unidade{
position:absolute;
top:700px;
width:100%;
font-size:40px;
}

@media print{

.painel{
display:none;
}

body{
background:white;
}

}
@page {
size: A4;
margin: 0;
}